* {
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
}


.navbar {
    width: 1440px;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
}

.navbar h3 {
    left: 5rem;
}

ul {
    display: flex;
    list-style: none;
}

li {
    margin-left: 30px;
}

.icons {
    display: flex;
    gap: 30px;
    margin-top: 10px;
}

h3 {
    margin-left: 10px;
}

img {
    width: 20px;
}

.baner {
    object-fit: cover;
    width: 1440px;
    height: 716.83px;
    top: 95.7;
}

.banerimage {
    width: 100%;
    height: 100%;
    margin-left: 15px;
}

.browse {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1183px;
    height: 685px;
    top: 869px;
    left: 131px;
    gap: 1.5rem;
}

.browsetitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 250px;
}

.browseimage {
    display: flex;
    align-items: center;
    margin-left: 200px;
}

h2 {
    margin: 0;
}

.browseimage img {
    width: 381px;
    height: 480px;
    top: 1008px;
    left: 131px;
    transition: all .5s;
    box-shadow: 0 0 15px black;
    border-radius: 10px;
}

.browseitem {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 60px;
    gap: 1rem;
    font-size: large;
    font-weight: 800;
}

.browseimage img:hover {
    transform: scale(1.2);
}

.banerab {
    position: absolute;
    width: 643px;
    height: 443px;
    top: 253px;
    left: 739px;
    border-radius: 10px;
    background-color: #FFF3E3;
    gap: 60px;
}

.banerab h5 {
    margin-left: 50px;
    margin-top: 30px;
}

.banerab h1 {
    color: #B88E2F;
    margin-left: 50px;
    font-size: xx-large;
    font-weight: 900;
}

.banerab button {
    width: 222px;
    height: 74px;
    top: 585px;
    left: 778px;
    background-color: #B88E2F;
    margin-top: 200px;
    margin-left: 50px;
    color: white;
    border: none;
    transition: all .5s;
}

.banerab button:hover {
    box-shadow: 0 0 15px black;
    transform: scale(1.2);
}

.productbox {
    width: 1236px;
    height: 1084px;
    margin-left: 8rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1.3rem;
    align-items: center;
    justify-content: center;
}


.productitem {
    width: 285px;
    height: 446px;
    background-color: #F4F5F7;
    position: relative;
    margin-left: .5rem;
}

.productitem img {
    position: absolute;
    width: 285px;
    height: 301px;
}

.productitem h2,
h5,
h3,
s {
    position: absolute;
}

.productitem h2 {
    width: 123px;
    height: 29px;
    top: 317px;
    left: 16px;
}

.productitem h5 {
    width: 138px;
    height: 24px;
    top: 354px;
    left: 16px;
}

.productitem h3 {
    width: 249px;
    height: 30px;
    top: 386px;
    left: 16px;
}

.productitem s {
    width: 102px;
    height: 24px;
    bottom: 1rem;
    right: 2rem;
}

.producttitle {
    text-align: center;
    font-size: xx-large;
    font-weight: 900;
}

.showmore {
   
    margin: 2rem;
    width: 245px;
    height: 48px;
    top: 2646px;
    left: 598px;
    color: #B88E2F;
    text-align: center;
    border: 1px solid #B88E2F;
    background-color: white;
}

.moresection {
    display: flex;
}

.more {
    width: 1440px;
    height: 670px;
    top: 2763px;
    background-color: #FCF8F3;
    margin-left: 2rem;

}

.moretext {
    width: 422px;
    height: 151px;
    top: 2986px;
    left: 100px;
    margin-top: 15rem;
    margin-left: 2rem;
}

.explore {
    width: 176px;
    height: 48px;
    top: 3162px;
    left: 100px;
    background-color: #B88E2F;
    color: white;
    border: none;
    margin-left: 2rem;
}

.more1 {
    width: 404px;
    height: 582px;
    top: 2807px;
    left: 584px;
    object-fit: cover;
    position: absolute;
}

.more2 {
    width: 372px;
    height: 486px;
    top: 2807px;
    left: 992px;
    position: absolute;
    object-fit: cover;
}

.dots {
    width: 120px;
    height: 27px;
    top: 3333px;
    left: 992px;
    position: absolute;

}

.arrow {
    width: 48px;
    height: 48px;
    top: 3074px;
    left: 1337px;
    position: absolute;

}




   



footer {
    display: inline-block;
    width: 100%;
    height: 600px;
     top: 4330px;
}

.leftside {
    display: inline-block;
    width: 40%;
    height: 90%;
    padding-left: 5rem;
}

.leftside h1 {
    margin-bottom: 10rem;
    padding: 0;
    font-size: 25px;
    font-weight: 900;
}

.leftside h5 {
    margin: 0;
    padding: 0;
    color: gray;
}

.rightside {
    float: right;
    display: inline-block;
    width: 58%;
    height: 90%;
}

.rightside table {
    border-collapse: separate;
    border-spacing: 8rem 5rem;
    font-size: 15px;

}

.firsttr {
    color: gray;
}

.endfooter {
    font-size: 15px;
    padding-left: 5rem;
}

